<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <%- include("partials/menu.ejs") %>
    <h1><%=title %> в EJS</h1>

    <p>Номера: <%=number %></p>

    <%- include("partials/footer.ejs") %>
</body>
</html>